<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基础信息</title>
    <link href="./public/css/cals.css" rel="stylesheet" type="text/css">
    <script src="../public/js/jquery-3.6.1.min.js"></script>
</head>

<style>
    .menu_top{
        display:inline;
        margin:30px;
    }

</style>

<body>
<div class="menu_">
    <div class="menu_top">
        <a href="/">系统功能首页</a>
    </div>
    <div class="menu_top">
        <a href="menu">菜单编排</a>
    </div>
    <div class="menu_top">
        <a href="data">菜品资料库</a>
    </div>
    <div class="menu_top">
        <a href="chives">基础信息</a>
    </div>
    <div class="menu_top">
        <a href="basic">菜单存档</a>
    </div>
</div>
<div>
    <button class="BaoCun" type="button">保存更新</button>
</div>
<div>
    <table border="1">
        <tr>
            <th colspan="20" id="tim">菜单选项信息</th>
        </tr>

        <tr>
            <th > 使用场景</th>
            <th > 菜品类型</th>
            <th > 烹饪方式</th>
            <th > 菜品特色</th>
            <th > 成本等级</th>
            <th > 推荐指数</th>
            <th > 厅室</th>
        </tr>
        {{ range  .Tdd }}
            <tr>
            {{range .}}
                <th><input value="{{.}}"></th>
            {{end}}
            </tr>
        {{end}}
        <tr>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
        </tr>
        <tr>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
        </tr>
        <tr>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
            <th><input></th>
        </tr>
    </table>




</div>

<script>
    $(document).ready(function () {
        $(document).on('click','.BaoCun',function (){
            var data ={
                '0':[],
                '1':[],
                '2':[],
                '3':[],
                '4':[],
                '5':[],
                '6':[],
            };
            $('table tr').each(function (){
                $(this).find('th').each(function (k,v) {
                    var value = $(this).find("input").val();
                    if(value !="" && value!=undefined){
                        data[k].push(value);
                    }
                })
            });
            var d = [];
            for (var i=0;i<Object.keys(data).length ;i++){
                // d["a"+i] = JSON.stringify(data[i])
                d[i] = data[i]
            }
            console.log(d);
            debugger
            $.ajax({
                type:'post',
                url:'/chives',
                data:{
                    "changjing":d[0],
                    "leixing":d[1],
                    "fangshi":d[2],
                    "tese":d[3],
                    "dengji":d[4],
                    "zhishu":d[5],
                    "ting":d[6],


                },
                success:function (res){
                    alert("操作成功");
                    location.reload();
                }
            });
        });
    });
</script>
</body>
</html>