<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单存档</title>
</head>

<style>
    .menu_top{
        display:inline;
        margin:30px;
    }

</style>

<body>
<div class="menu_">
    <div class="menu_top">
        <a href="/">系统功能首页</a>
    </div>
    <div class="menu_top">
        <a href="menu">菜单编排</a>
    </div>
    <div class="menu_top">
        <a href="data">菜品资料库</a>
    </div>
    <div class="menu_top">
        <a href="chives">基础信息</a>
    </div>
    <div class="menu_top">
        <a href="basic">菜单存档</a>
    </div>
</div>






</body>
</html>