<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜品资料库</title>
    <link href="./public/css/cals.css" rel="stylesheet" type="text/css">
    <script src="../public/js/jquery-3.6.1.min.js"></script>
</head>

<style>
    .menu_top{
        display:inline;
        margin:30px;
    }
</style>
<body>



<div class="menu_">
    <div class="menu_top">
        <a href="/">系统功能首页</a>
    </div>
    <div class="menu_top">
        <a href="menu">菜单编排</a>
    </div>
    <div class="menu_top">
        <a href="data">菜品资料库</a>
    </div>
    <div class="menu_top">
        <a href="chives">基础信息</a>
    </div>
    <div class="menu_top">
        <a href="basic">菜单存档</a>
    </div>
</div>


<div>
    <div>机关食堂菜品资料库</div>
    <div>当前已收录菜品：20个；荤菜：10个；素菜10个。</div>
    <div>
        <div>菜品信息维护（新增、更新、删除）</div>
        <div>
            <button onclick="updata()">保存/更新</button>

            <button>删除菜品信息</button>
        </div>
        <div>
            <table border="1" >
                <tr>
                    <th>菜品编码</th>
                    <th>菜品名称</th>
                    <th>使用</th>
                    <th>使用场景</th>
                    <th>菜品类型</th>
                    <th>烹饪方式</th>
                    <th>主要食材</th>
                    <th>菜品特色</th>
                    <th>成本等级</th>
                    <th>推荐指数</th>
                    <th>其它说明</th>
                </tr>
<!--                <form action="/updata" method="post">-->
                <form>
                <tr>
                    <th>
                        <select name="bianma">
                        <option>-请选择-</option>
                        <option>自动生成</option>
                        </select>
                    </th>
                    <th>
                        <input name="caiming" >
                    </th>
                    <th>
                        <select name="shiyong">
                            <option>-请选择-</option>
                            <option>启用</option>
                            <option>未启用</option>
                        </select>
                    </th>
                    <th>
                        <select name="changjing">
                            <option>-请选择-</option>
                            {{ range .ChangJing }}
                            <option value="{{.}}">{{.}}</option>
                            {{ end}}
                        </select>
                    </th>
                    <th>
                        <select name="leixing">
                            <option>-请选择-</option>
                            {{ range .LeiXing }}
                            <option>{{.}}</option>
                            {{ end}}
                        </select>
                    </th>
                    <th>
                        <select name="fangshi">
                            <option>-请选择-</option>
                            {{ range .FangShi }}
                            <option>{{.}}</option>
                            {{ end}}
                        </select>
                    </th>
                    <th>
                        <input name="shicai" >
                    </th>
                    <th>
                        <select name="tese">
                            <option>-请选择-</option>
                            {{ range .TeSe }}
                            <option>{{.}}</option>
                            {{ end}}
                        </select>
                    </th>
                    <th>
                        <select name="dengji">
                            <option>-请选择-</option>
                            {{ range .DengJi }}
                            <option>{{.}}</option>
                            {{ end}}
                        </select>
                    </th>
                    <th>
                        <select name="zhishu">
                            <option>-请选择-</option>
                            {{ range .ZhiShu }}
                            <option>{{.}}</option>
                            {{ end}}
                        </select>
                    </th>
                    <th>
                        <input name="beizhu" >
                    </th>
                </tr>
                </form>
            </table>



        </div>
    </div>
    <div>
        <table border="1" >
            <tr >
                <th colspan="20">菜品库</th>
            </tr>
            <tr>
                <th>菜品编码</th>
                <th>菜品名称</th>
                <th>使用</th>
                <th>使用场景</th>
                <th>菜品类型</th>
                <th>烹饪方式</th>
                <th>主要食材</th>
                <th>菜品特色</th>
                <th>成本等级</th>
                <th>推荐指数</th>
                <th>其它说明</th>
            </tr>
            {{  range .Quer  }}
            <tr>
                <th>{{ .BianMa}}</th>
                <th>{{ .Name}}</th>
                <th>{{ .ChangJing}}</th>
                <th>{{ .LeiXing}}</th>
                <th>{{ .LeiXing}}</th>
                <th>{{ .FangShi}}</th>
                <th>{{ .ShiCai}}</th>
                <th>{{ .TeSe}}</th>
                <th>{{ .DengJi}}</th>
                <th>{{ .TuiJian}}</th>
                <th>{{ .BeiZhu}}</th>
            </tr>
            {{ end }}
        </table>
    </div>

</div>


<script>
    function updata(){
        // $('form').submit();
        // var s = document.getElementById("chengjing");
        var bianma = $('select[name="bianma"]').val();
        var caiming = $('input[name="caiming"]').val();
        var shiyong = $('select[name="shiyong"]').val();
        var changjing = $('select[name="changjing"]').val();
        var leixing = $('select[name="leixing"]').val();
        var fangshi = $('select[name="fangshi"]').val();
        var shicai = $('input[name="shicai"]').val();
        var tese = $('select[name="tese"]').val();
        var dengji = $('select[name="dengji"]').val();
        var zhishu = $('select[name="zhishu"]').val();
        var beizhu = $('input[name="beizhu"]').val();


        $.ajax({
            url:'/updata',
            type:'post',
            // contentType:'application/json',
            data:{
                'bianma':bianma,
                'caiming':caiming,
                'shiyong':shiyong,
                'changjing':changjing,
                'leixing':leixing,
                'fangshi':fangshi,
                'shicai':shicai,
                'tese':tese,
                'dengji':dengji,
                'zhishu':zhishu,
                'beizhu':beizhu,
            },
            success:function(args) {
                console.log(args)

                alert(args)
            }
        })
    }




</script>









</body>
</html>