<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统功能首页</title>
    <link href="../public/css/cals.css" rel="stylesheet" type="text/css">
</head>
<style>
    h1 {
        letter-spacing:3px
    }
    .index_qj {
        width: 100%;
        height: 400px;
        margin-top: 160px;
    }
    .top {
        width: 100%;
        height: 20%;
        text-align: center;


    }
    .low {
        width: 100%;
        height: 80%;

    }
    .low-t{
        width: 25%;
        height: 80%;
        display:inline;
        margin:50px;
        text-align: center;

    }
</style>
<body>


<div class="index_qj" >
    <div class="top">
        <h1>机关单位食堂菜谱管理系统</h1>
    </div>
    <div class="low">
        <div class="low-t">
            <a href="/menu">菜单编排</a>
            <button onclick="location.href='menu'">菜单编排</button>
        </div>
        <div class="low-t">
            <a href="data">菜品资料库维护</a>
        </div>
        <div class="low-t">
            <a href="basic">基础信息</a>
        </div>
        <div class="low-t">
            <a href="chives">历史菜单</a>
        </div>
    </div>
</div>
</body>
</html>