<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单编排</title>
    <link href="./public/css/cals.css" rel="stylesheet" type="text/css">
    <link href="./public/plugins/ymPrompt/skin/flatty/ymPrompt.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="./public/plugins/ymPrompt/ymPrompt.js" type="text/javascript"></script>
    <script src="../public/js/jquery-3.6.1.min.js"></script>
</head>

<body>

<div class="menu_">
    <div class="menu_top a">
        <a href="/">系统功能首页</a>
    </div>
    <div class="menu_top">
        <a href="menu">菜单编排</a>
    </div>
    <div class="menu_top">
        <a href="data">菜品资料库</a>
    </div>
    <div class="menu_top">
        <a href="chives">基础信息</a>
    </div>
    <div class="menu_top">

        <a href="basic">菜单存档</a>
    </div>
</div>

<div class="menu_qj">
    <div class="menu_top">
        <button onclick="baocuncd()">保存菜单</button>
    </div>
    <div class="menu_top">
        <button onclick="doPrint()">打印菜单</button>
    </div>
    <div class="menu_top">
        <button onclick="redll()">清空菜单</button>
    </div>
    <div class="menu_top">
        <button onclick="lishi()">打开历史存档菜谱</button>
    </div>
    <div class="menu_top">
        <input checked name="ChangJing" type="radio" value="主厅">主厅
        <input name="ChangJing" type="radio" value="职工">职工
    </div>

</div>
<!--startprint-->

<div class="menu_qje" id="printArea">
    <table border="1">
        <tr>
            <th colspan="20" id="tim">机关食堂菜单{{.changjing}}</th>
        </tr>
        <tr>
            <th class="meum-th" colspan="20"> 菜单效期：<input name="inputtime1" type="date"> -- <input name="inputtime2" type="date"></th>
        </tr>
        <tr>
            <th>礼拜一</th>
            <th>礼拜二</th>
            <th>礼拜三</th>
            <th>礼拜四</th>
            <th>礼拜五</th>
        </tr>
        <tr>
            <th colspan="20">早餐</th>
        </tr>
        {{range $k,$v := .zaocan }}
        <tr class="zaocamtr">
            {{range $kk,$vv :=$v}}
            <th id="zao{{$k}}-{{$kk}}">{{$vv}}</th>
            {{end}}
        </tr>
        {{end}}

        <tr>
            <th colspan="20">午餐</th>
        </tr>
        {{range $k,$v := .wucan }}
        <tr class="wucantr">
            {{range $kk,$vv :=$v}}
            <th id="wu{{$k}}-{{$kk}}">{{$vv}}</th>
            {{end}}
        </tr>
        {{end}}
        <tr>
            <th colspan="20">晚餐</th>
        </tr>
        {{range $k,$v := .wancan }}
        <tr class="wancantr">
            {{range $kk,$vv :=$v}}
            <th id="wan{{$k}}-{{$kk}}">{{$vv}}</th>
            {{end}}
        </tr>
        {{end}}

    </table>
    <br>
    <br>

</div>

<!--endprint-->





<script>
    var cdlist = [];
    !function (){
        {{range .cdlist}}
        var row = {BianMa:"{{.BianMa}}",LeiXing:"{{.LeiXing}}",Name:"{{.Name}}"};
        cdlist.push(row);
        {{end}}
    }()
    localStorage.setItem("cdlist",JSON.stringify(cdlist));

    var ting ='主厅'
    $(document).ready(function () {
        $(document).on('click','.zaocamtr th,.wucantr th,.wancantr th',function (){
            ymPrompt.win({message: './select?id='+$(this).attr('id'), width: 500, height: 600, title: '菜品选择', maxBtn: true, minBtn: true, iframe: true})
        });
        $(document).on('click','input[name="ChangJing"]',function (){
            ting = $(this).val()
            document.getElementById("tim").innerText = "机关食堂菜单"+ting;
        });
    });
    function select(id,name){
        $('#'+id).html(name);
    }

    function baocuncd(){
        var zaocan = {
            '0':[],
            '1':[],
            '2':[],
            '3':[],
            '4':[],


        };
        var wucan ={
            '0':[],
            '1':[],
            '2':[],
            '3':[],
            '4':[],
        };
        var wancan ={
            '0':[],
            '1':[],
            '2':[],
            '3':[],
            '4':[],
        };
        var baocuntime =$('input[name="inputtime1"]').val()+"--"+$('input[name="inputtime2"]').val();

        if (baocuntime ==="--"){
            alert("请选择时间！")
            return
        }
        $('.zaocamtr').each(function (){

            $(this).find('th').each(function (k,v) {
                zaocan[k].push($(this).html())
            })
        })

        $('.wucantr').each(function (){

            $(this).find('th').each(function (k,v) {
                wucan[k].push($(this).html())
            })
        })

        $('.wancantr').each(function (){

            $(this).find('th').each(function (k,v) {
                wancan[k].push($(this).html())
            })
        })
        console.log(JSON.stringify(zaocan))
        console.log(wucan)
        console.log(wancan)
        console.log(baocuntime)
        console.log(ting)

        $.ajax({
            url: '/baocuncd',
            type: 'post',
            data: {
                'ChangJing': ting,
                'time': baocuntime,
                'zaocan': JSON.stringify(zaocan),
                'wancan': JSON.stringify(wancan),
                'wucan': JSON.stringify(wucan),
            },
            success: function (args) {
                alert(args)

            }

        })

    }
    function lishi(){
        $.ajax({
            url: '/lishi',
            type: 'GET',
            success: function () {
                !function () {
                    ymPrompt.win({message: './lishi', width: 500, height: 600, title: '选择历史菜谱', maxBtn: true, minBtn: true, iframe: true})
                }();

            }

        })


    }
    function redll(){
        window.location.reload()
    }





    function doPrint(){
        //设置body隐藏，并设置打印区域为可见
        document.body.style.visibility='hidden';
        document.getElementById('printArea').style.visibility='visible';
        window.print();

        location.href='menu'
        return false;
    }

</script>

</body>
</html>