<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单编排</title>
    <link href="./public/css/cals.css" rel="stylesheet" type="text/css">
    <link href="./public/plugins/ymPrompt/skin/flatty/ymPrompt.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="./public/plugins/ymPrompt/ymPrompt.js" type="text/javascript"></script>
    <script src="../public/js/jquery-3.6.1.min.js"></script>
</head>

<body>

<div class="menu_">
    <div class="menu_top a">
        <a href="/">系统功能首页</a>
    </div>
    <div class="menu_top">
        <a href="menu">菜单编排</a>
    </div>
    <div class="menu_top">
        <a href="data">菜品资料库</a>
    </div>
    <div class="menu_top">
        <a href="chives">基础信息</a>
    </div>
    <div class="menu_top">

        <a href="basic">菜单存档</a>
    </div>
</div>

<div class="menu_qj">
    <div class="menu_top">
        <button onclick="baocuncd()">保存菜单</button>
    </div>
    <div class="menu_top">
        <button onclick="doPrint()">打印菜单</button>
    </div>
    <div class="menu_top">
        <button onclick="redll()">清空菜单</button>
    </div>
    <div class="menu_top">
        <button onclick="lishi()">打开历史存档菜谱</button>
    </div>
    <div class="menu_top">
        <input checked name="ChangJing" type="radio" value="主厅">主厅
        <input name="ChangJing" type="radio" value="职工">职工
    </div>
    <div>
        <select name="sclishi">
            <option>-选择需要删除的历史菜谱-</option>
            {{ range .le }}
            <option >{{.}}</option>
            {{end}}
        </select>
        <button onclick="sclishi()">删除历史菜谱</button>

    </div>


</div>
<!--startprint-->

<div class="menu_qje" id="printArea">
    <table border="1">
        <tr>
            <th colspan="20" id="tim">机关食堂菜单主厅</th>
        </tr>
        <tr>
            <th class="meum-th" colspan="20"> 菜单效期：<input name="inputtime1" type="date"> -- <input name="inputtime2" type="date"></th>
        </tr>
        <tr>
            <th>礼拜一</th>
            <th>礼拜二</th>
            <th>礼拜三</th>
            <th>礼拜四</th>
            <th>礼拜五</th>
        </tr>
        <tr>
            <th colspan="20">早餐</th>
        </tr>


        <tr class="zaocamtr">
            <th id="zao0-0"></th>
            <th id="zao0-1"></th>
            <th id="zao0-2"></th>
            <th id="zao0-3"></th>
            <th id="zao0-4"></th>
        </tr>
        <tr class="zaocamtr">
            <th id="zao1-0"></th>
            <th id="zao1-1"></th>
            <th id="zao1-2"></th>
            <th id="zao1-3"></th>
            <th id="zao1-4"></th>
        </tr>
        <tr class="zaocamtr">
            <th id="zao2-0"></th>
            <th id="zao2-1"></th>
            <th id="zao2-2"></th>
            <th id="zao2-3"></th>
            <th id="zao2-4"></th>
        </tr>
        <tr class="zaocamtr">
            <th id="zao3-0"></th>
            <th id="zao3-1"></th>
            <th id="zao3-2"></th>
            <th id="zao3-3"></th>
            <th id="zao3-4"></th>
        </tr>
        <tr class="zaocamtr">
            <th id="zao4-0"></th>
            <th id="zao4-1"></th>
            <th id="zao4-2"></th>
            <th id="zao4-3"></th>
            <th id="zao4-4"></th>
        </tr>
        <tr class="zaocamtr">
            <th id="zao5-0"></th>
            <th id="zao5-1"></th>
            <th id="zao5-2"></th>
            <th id="zao5-3"></th>
            <th id="zao5-4"></th>
        </tr>
        <tr class="zaocamtr">
            <th id="zao6-0"></th>
            <th id="zao6-1"></th>
            <th id="zao6-2"></th>
            <th id="zao6-3"></th>
            <th id="zao6-4"></th>
        </tr>
        <tr class="zaocamtr">
            <th id="zao7-0"></th>
            <th id="zao7-1"></th>
            <th id="zao7-2"></th>
            <th id="zao7-3"></th>
            <th id="zao7-4"></th>
        </tr>
        <tr class="zaocamtr">
            <th id="zao8-0"></th>
            <th id="zao8-1"></th>
            <th id="zao8-2"></th>
            <th id="zao8-3"></th>
            <th id="zao8-4"></th>
        </tr>
        <tr>
            <th colspan="20">午餐</th>
        </tr>
        <tr class="wucantr">
            <th id="wu0-0"></th>
            <th id="wu0-1"></th>
            <th id="wu0-2"></th>
            <th id="wu0-3"></th>
            <th id="wu0-4"></th>
        </tr>
        <tr class="wucantr">
            <th id="wu1-0"></th>
            <th id="wu1-1"></th>
            <th id="wu1-2"></th>
            <th id="wu1-3"></th>
            <th id="wu1-4"></th>
        </tr>
        <tr class="wucantr">
            <th id="wu2-0"></th>
            <th id="wu2-1"></th>
            <th id="wu2-2"></th>
            <th id="wu2-3"></th>
            <th id="wu2-4"></th>
        </tr>
        <tr class="wucantr">
            <th id="wu3-0"></th>
            <th id="wu3-1"></th>
            <th id="wu3-2"></th>
            <th id="wu3-3"></th>
            <th id="wu3-4"></th>
        </tr>
        <tr class="wucantr">
            <th id="wu4-0"></th>
            <th id="wu4-1"></th>
            <th id="wu4-2"></th>
            <th id="wu4-3"></th>
            <th id="wu4-4"></th>
        </tr>
        <tr class="wucantr">
            <th id="wu5-0"></th>
            <th id="wu5-1"></th>
            <th id="wu5-2"></th>
            <th id="wu5-3"></th>
            <th id="wu5-4"></th>
        </tr>
        <tr class="wucantr">
            <th id="wu6-0"></th>
            <th id="wu6-1"></th>
            <th id="wu6-2"></th>
            <th id="wu6-3"></th>
            <th id="wu6-4"></th>
        </tr>
        <tr class="wucantr">
            <th id="wu7-0"></th>
            <th id="wu7-1"></th>
            <th id="wu7-2"></th>
            <th id="wu7-3"></th>
            <th id="wu7-4"></th>
        </tr>
        <tr class="wucantr">
            <th id="wu8-0"></th>
            <th id="wu8-1"></th>
            <th id="wu8-2"></th>
            <th id="wu8-3"></th>
            <th id="wu8-4"></th>
        </tr>
        <tr>
            <th colspan="20">晚餐</th>
        </tr>
        <tr class="wancantr">
            <th id="wan0-0"></th>
            <th id="wan0-1"></th>
            <th id="wan0-2"></th>
            <th id="wan0-3"></th>
            <th id="wan0-04"></th>
        </tr>
        <tr class="wancantr">
            <th id="wan1-0"></th>
            <th id="wan1-1"></th>
            <th id="wan1-2"></th>
            <th id="wan1-3"></th>
            <th id="wan1-4"></th>
        </tr>
        <tr class="wancantr">
            <th id="wan2-0"></th>
            <th id="wan2-1"></th>
            <th id="wan2-2"></th>
            <th id="wan2-3"></th>
            <th id="wan2-4"></th>
        </tr>
        <tr class="wancantr">
            <th id="wan3-0"></th>
            <th id="wan3-1"></th>
            <th id="wan3-2"></th>
            <th id="wan3-3"></th>
            <th id="wan3-4"></th>
        </tr>
        <tr class="wancantr">
            <th id="wan4-0"></th>
            <th id="wan4-1"></th>
            <th id="wan4-2"></th>
            <th id="wan4-3"></th>
            <th id="wan4-4"></th>
        </tr>
        <tr class="wancantr">
            <th id="wan5-0"></th>
            <th id="wan5-1"></th>
            <th id="wan5-2"></th>
            <th id="wan5-3"></th>
            <th id="wan5-4"></th>
        </tr>
        <tr class="wancantr">
            <th id="wan6-0"></th>
            <th id="wan6-1"></th>
            <th id="wan6-2"></th>
            <th id="wan6-3"></th>
            <th id="wan6-4"></th>
        </tr>
        <tr class="wancantr">
            <th id="wan7-0"></th>
            <th id="wan7-1"></th>
            <th id="wan7-2"></th>
            <th id="wan7-3"></th>
            <th id="wan7-4"></th>
        </tr>
        <tr class="wancantr">
            <th id="wan8-0"></th>
            <th id="wan8-1"></th>
            <th id="wan8-2"></th>
            <th id="wan8-3"></th>
            <th id="wan8-4"></th>
        </tr>

    </table>
    <br>
    <br>
</div>

<!--endprint-->

<br>
<br>

<script>
    var cdlist = [];
    !function (){
        {{range .cdlist}}
            var row = {{.}};
            cdlist.push(row);
        {{end}}
    }()
    localStorage.setItem("cdlist",JSON.stringify(cdlist));

    var ting ='主厅'
    $(document).ready(function () {
        $(document).on('click','.zaocamtr th,.wucantr th,.wancantr th',function (){
            ymPrompt.win({message: './select?id='+$(this).attr('id'), width: 1100, height: 700, title: '菜品选择', maxBtn: true, minBtn: true, iframe: true})
        });
        $(document).on('click','input[name="ChangJing"]',function (){
            ting = $(this).val()
            document.getElementById("tim").innerText = "机关食堂菜单"+ting;
        });
    });
    function select(id,name){
        $('#'+id).html(name);
    }

    function baocuncd(){
        var zaocan = {
            '0':[],
            '1':[],
            '2':[],
            '3':[],
            '4':[],
        };
        var wucan ={
            '0':[],
            '1':[],
            '2':[],
            '3':[],
            '4':[],
        };
        var wancan ={
            '0':[],
            '1':[],
            '2':[],
            '3':[],
            '4':[],
        };
        var baocuntime =$('input[name="inputtime1"]').val()+"--"+$('input[name="inputtime2"]').val();
        if (baocuntime ==="--"){
            alert("请选择时间！")
            return
        }
        $('.zaocamtr').each(function (){

            $(this).find('th').each(function (k,v) {
                zaocan[k].push($(this).html())
            })
        })

        $('.wucantr').each(function (){

            $(this).find('th').each(function (k,v) {
                wucan[k].push($(this).html())
            })
        })

        $('.wancantr').each(function (){

            $(this).find('th').each(function (k,v) {
                wancan[k].push($(this).html())
            })
        })
        $.ajax({
            url: '/baocuncd',
            type: 'post',
            data: {
                'ChangJing': ting,
                'time': baocuntime,
                'zaocan': JSON.stringify(zaocan),
                'wancan': JSON.stringify(wancan),
                'wucan': JSON.stringify(wucan),
            },
            success: function (args) {
                    alert(args)
            }
        })

    }
    function lishi(){
        $.ajax({
            url: '/lishi',
            type: 'GET',
            success: function () {
                !function () {
                    ymPrompt.win({message: './lishi', width: 500, height: 600, title: '选择历史菜谱', maxBtn: true, minBtn: true, iframe: true})
                }();

            }

        })


    }
    function redll(){
        window.location.reload()
    }

    function sclishi(){
        var times = $('select[name="sclishi"]').val().split("(")[0]
        $.ajax({
            url: '/deletels?id='+times,
            type: 'Get',
            success: function (args) {

                location.reload()

            }
        })

    }





    function doPrint(){
        //设置body隐藏，并设置打印区域为可见
        document.body.style.visibility='hidden';
        document.getElementById('printArea').style.visibility='visible';
        window.print();
        // location.href='menu'
        document.body.style.visibility='visible';
        return false;
    }

</script>

</body>
</html>