<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>select</title>
    <link href="./public/css/cals.css" rel="stylesheet" type="text/css">
    <script src="../public/js/jquery-3.6.1.min.js"></script>
    <style>
        table {
            width: 100%;
        }
    </style>
</head>
<body>
<button type="button" onclick="location.href='?id={{.id}}&leixing='">全部</button>
<button type="button" onclick="location.href='?id={{.id}}&leixing=早餐'">早餐</button>
<button type="button" onclick="location.href='?id={{.id}}&leixing=荤菜'">荤菜</button>
<button type="button" onclick="location.href='?id={{.id}}&leixing=素菜'">素菜</button>
<button type="button" onclick="location.href='?id={{.id}}&leixing=汤'">汤</button>
<table>
    <tr>
        <th>菜品名称</th>
        <th>使用</th>
        <th>使用场景</th>
        <th>菜品类型</th>
        <th>烹饪方式</th>
        <th>主要食材</th>
        <th>菜品特色</th>
        <th>成本等级</th>
        <th>推荐指数</th>
        <th>其它说明</th>
    </tr>
    <tbody class="list">
    </tbody>
</table>

</body>

<script>
    function getQueryString(name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return decodeURI(r[2]);
        }
        return null;
    }

    var cdlist = JSON.parse(localStorage.getItem("cdlist"));
    var leixing = getQueryString("leixing");
    var data = [];
    for (var i = 0; i < cdlist.length; i++) {
        if (leixing != null && leixing != "") {
            if (cdlist[i].LeiXing == leixing) data.push(cdlist[i]);
        } else {
            data.push(cdlist[i]);
        }
    }
    $('.list').html('');
    for (var i = 0; i < data.length; i++) {
        $('.list').append('<tr>' +
            '<td>' + data[i].Name + '</td>' +
            '<td>' + data[i].State + '</td>' +
            '<td>' + data[i].ChangJing + '</td>' +
            '<td>' + data[i].LeiXing + '</td>' +
            '<td>' + data[i].FangShi + '</td>' +
            '<td>' + data[i].ShiCai + '</td>' +
            '<td>' + data[i].TeSe + '</td>' +
            '<td>' + data[i].DengJi + '</td>' +
            '<td>' + data[i].TuiJian + '</td>' +
            '<td>' + data[i].BeiZhu + '</td>' +
            '</tr>');
    }
    $(document).on('click','.list td',function (){
        parent.select("{{.id}}", $(this).parents('tr').find('td:nth-child(1)').html());
        parent.ymPrompt.close();
    });

</script>

</html>